[Desktop Entry]
Name=ppracer
Comment=A great racing game starring Tux
Comment[pl]=Gra wyścigowa z pingwinem Tuksem w roli głównej
Exec=ppracer
Icon=ppracer
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
